<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gulp demo</title>
    <link rel="stylesheet" href="<%= csslink %>index.css">
    <script src="<%= jslink %>js.js"></script>
</head>
<body>
    <div class="aaa">
        <a href="t.html">跳转了2</a>
    </div>

test123




</body>
</html>