<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="<%= csslink %>index.css">
    <script src="<%= jslink %>js.js"></script>
</head>
<body>
adasasdasfd
</body>
</html>